*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.card1{
    width: 1440px;
    height: 4792px;
    /* border: 1px solid black; */
    
}
.container{
    width: 1440px;
    height: 900px;
    background-color:#EFF0F3;
    /* border: 1px solid black; */
    margin: auto;
    


}
.nav{
    width: 1440px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f4f9;
}
.navlogo{
    width: 194px;
    height: 45px;
    position: absolute;
    top:26px;
    left: 95px;
}
.linkcontainer{
    width: 756px;
    height: 44px;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    position: absolute;
    top: 22px;
    left: 589px;
    font-size: 18px;
    font-weight: 700;
    gap: 50px;

}
.navlink{
    width: 424px;
    height: 25px;
    display: flex;
    gap: 50px;
    list-style-type: none;
    /* border: 1px solid black; */
}
.navlink li a{
    color: black;
}

.coffeeimg {
    width: 213px;
    height: 44px;
    background-color: #6246EA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    gap: 10px;

    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;

}
.coffeeimg img{
    width: 24px;
    height: 24px;
}


/* ==------------------==-----------------------------== */

.maincard{
    margin-top: 100px;
    /* border: 1px solid rgb(21, 13, 172); */
    width: 1342px;
    height: 838.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -46px;
    left: 49px;
}
.leftcard{

    width: 664px;
    height: 345px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainp{
    border-left: 3px solid #2B2C34;
    font-size: 23px;
    color: #120b0b;
    font-weight: 400;
}
.leftcard h1{
    font-weight: 700;
    font-size: 64px;
    color: #2B2C34;
    font-weight: 400;
    font-style: bold;

}
.mainheading{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
}

.mainsearch{
    display: flex;
    
    gap: 20px;
    width: 609px;
    height: 67px;
}
.mainsearch input{
    width: 444px;
    height: 67px;
    border: wheat;
    border-radius: 8px;
}
.mainsearch button{
    width: 145px;
    color: white;
    border: wheat;
    height: 67px;
    border-radius: 8px;
    background-color: #6246EA;
}
.rightcard{
    width:470px ;
    height:387px ;
}





/*  skill container */
.skillcontainer{
    width: 1440px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EFF0F3;;
}
#skillcolor{
    background-color: #6246EA;
    color: white;
}
.skillcard{
    width: 1252px;
    height: 365px;
    background-color: #EFF0F3;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
.headofskill{
    display: flex;
    justify-content: space-between;
}
.trueskill{
    width: 1248px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: auto;
}
.skillcard1{
    width: 220px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFE;
    border-radius: 8px;
}



/* featureartical   */

.featureartical{
    width: 1452px;
    height: 490px;
    display: flex;
    flex-direction: column;
}
.featureheading{
    width: 1252px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.featurecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featurecards{
    width: 1248px;
    height: 425px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}
.featurecard{
    width: 300px;
    height: 425px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    background-color: #FFFFFE;
}
#profile{
    width: 57px;
    height: 57px;
    border-radius: 57%;
}
.prifiles{
   
    display: flex;
    justify-content: space-around;
    width: 260px;
    height: 57px;
    
}
.profileinfo{
    display: flex;
    flex-direction: column;
    gap: 4.2px;
    padding: 5px;
}
.headingoffeacture{
    width: 250px;
    height:60px ;
}
.featurecard img{
    width: 260px;
    height: 198px;
    border-radius: 12.6px;
}

.btn{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    width: 165px;
    height: 64px;
    border-radius: 8px;
    background-color: #6246EA;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

/* suscriber box */

.suscribercontainer{
    width: 1440px;
    height: 453px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #EFF0F3;
}
.susbox{
    width: 130px;
    height: 130px;
    border-radius: 130px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.susbox img{
    width: 80.07px;
    height: 106.75496673583984px;
}
.subheading{
    width: 696px;
    height: 80px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subsearch{
    width: 609px;
    height: 67px;
    display: flex;
    gap: 20px;
}
.subsearch button{
    width: 145px;
    height: 67px;
    border-radius: 8px;
    background-color: #6246EA;
    border: white;
    color: white;
}
.subsearch input{
    width: 444px;
    height: 67px;
    border-radius: 8px;
    border: white;

}
/* footer */
.footer{
    /* border: 1px solid black; */
    background-color: #E4E5E9;
    width: 1440px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mainfooter{
    /* border: 1px solid black; */
    width: 1249px;
    height: 245px;
    display: flex;
    justify-content: space-between;
}
.emailsec{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.emailsec img{
    width: 195px;
    height: 45px;
    display: flex;
    gap: 10px;
}
.footerlogo{
    width: 130px;
    height: 90px;
    display: flex;
    gap: 5px;
}
.footerlogo img{
    width: 24px;
    height: 24px;
}
.mainfooter ul li{
    list-style-type: none;
}
.category{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.AboutMe{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.Getintouch{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.FollowUs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.linediv{
    width: 1260px;
    height: 0px;
    background-color: #C0C0C0;
}
.lastfooter{
    width: 1250px;
    display: flex;
    justify-content: space-between;
}
.linediv{
    width: 1250px;
    border: 1px solid #C0C0C0;
}