*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.btnbox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.result{
    display: flex;
    justify-content: center;
}
.display{
    padding: 13px;
}